*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario{
    background-color: snow;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.formulario h2{
    text-align: center;
}

.botones{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}